[submodule "3rdparty/zipper"]
	path = 3rdparty/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "wowViewerLib/mathfu"]
	path = wowViewerLib/mathfu
	url = https://github.com/google/mathfu.git
[submodule "wowViewerLib/3rdparty/mathfu"]
	path = wowViewerLib/3rdparty/mathfu
	url = https://github.com/google/mathfu.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl
[submodule "3rdparty/libzip"]
	path = 3rdparty/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "cpr"]
	path = cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "3rdparty/PolyM"]
	path = 3rdparty/PolyM
	url = https://github.com/khuttun/PolyM
[submodule "3rdparty/stormlib"]
	path = 3rdparty/stormlib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "3rdparty/casclib"]
	path = 3rdparty/casclib
	url = https://github.com/ladislav-zezula/CascLib.git
[submodule "3rdparty/nuklear_cross"]
	path = 3rdparty/nuklear_cross
	url = https://github.com/DeXP/nuklear_cross.git
[submodule "wowViewerLib/3rdparty/RTree"]
	path = wowViewerLib/3rdparty/RTree
	url = https://github.com/nushoin/RTree

[submodule "wowViewerLib/3rdparty/spirv-cross"]
	path = wowViewerLib/3rdparty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
