[submodule "3rdparty/zipper"]
	path = 3rdparty/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "wowViewerLib/mathfu"]
	path = wowViewerLib/mathfu
	url = https://github.com/google/mathfu.git
[submodule "wowViewerLib/3rdparty/mathfu"]
	path = wowViewerLib/3rdparty/mathfu
	url = https://github.com/google/mathfu.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib
